# Grumpy Lints

Lint rules for using [Grumpy](https://github.com/necodeIT/grumpy) architecture correctly.

## Installation

To use the recommended lint rules drop the following into your `analysis_options.yaml`

```yaml
plugins:
  grumpy_lints:
    diagnostics:
{{yaml_rules(3)}}
```


## Rules

{{rules(3)}}